.taskContainer{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    
    
}

li{
    height: 90%;
    padding: 3px;
    margin: 5px 0px;
    font-weight: bold;
    font-size: 20px;
    float: left;
}
/* 
.bt-del{
    height: 65%;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-weight: bolder;
} */


.bt-del{
    width: 25px;
    height:25px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #dc3545; 
    padding: 0px;
    text-align:center;
}

.bt-del:hover{
    background-color: rgb(162, 35, 20);
    color: white;
}