*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(203, 206, 209, 0.735);
}

.Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header{
    align-self: flex-start;
    padding: 1rem 2rem;
    color: rgb(220, 155, 15);
}


.NewTask{
    margin-top: 20px;
}

.NewTask button{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    margin: 10px;
    cursor: pointer;
    background-color:teal;
    color: white;
}

.NewTask button:hover{
    background-color: rgb(13, 157, 107);
    transition: .5s ease-in-out;
}

.NewTask input{
    width: 400px;
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;
    outline: none;
}

.List{
    width: 40%;
    background-color: rgb(214, 204, 186);
    list-style: none;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
    min-height: 300px;
    box-shadow: 0px 0px 3px 0px;
}